/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default:
Medium:
Semi-bold:
Bold:

- Line heights
Default:
Small:
Medium:
Paragraph default:
Large:

- Letter spacing
-
--- 02 COLORS

- Primary:
- Tints:

- Shades:

- Accents:
- Greys
  333
--- 05 SHADOWS

--- 06 BORDER-RADIUS
Default:
Medium:

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/***************/
/***GENERAL***/
/***************/

html {
  font-size: 62.5%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  margin-top: 1rem;
  gap: 20px;
  padding: 4rem;
  align-items: center;
  background-color: #f9f6ee;
  opacity: 60%;
}

body {
  background-image: url("../img/blueberry.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #444;
  display: flex;
  flex-direction: column;
}

.logo-text {
  font-size: 3rem;
  margin-left: 14rem;
  color: #000;
  font-weight: 600;
}

/***Navigation***/

.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar li {
  list-style-type: none;
  padding: 0 2rem;
  font-size: 2.2rem;
  color: #333;
}

/*** Links ***/

.nav-bar li a:link,
.nav-bar li a:visited {
  text-decoration: none;
  color: #222;
}

.nav-bar li a:hover,
.nav-bar li a:active {
  text-decoration: none;
  color: #888;
}

/***Section intro ***/

.container {
  padding: 5rem 10rem 0 10rem;
  width: 40%;
  margin: 0 auto;

  margin-top: 10rem;
  background-color: #f9f6ee;
  border-radius: 15px;
  min-height: 60vh;
  opacity: 90%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.premium {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.intro-paragraphs {
  margin-top: 2rem;
}

.normal-text {
  font-size: 1.8rem;
  line-height: 1.7;
}

.frog-intro {
  height: 180px;
}

/*** About ***/

.about-container {
  padding: 5rem 10rem 0 10rem;
  width: 40%;
  margin: 0 auto;

  margin-top: 10rem;
  background-color: #f9f6ee;
  border-radius: 15px;
  min-height: 77vh;
  opacity: 90%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.about-text {
  margin-top: 1rem;
  font-size: 1.8rem;
  line-height: 2;
}

/*** Contact ***/

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-div {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"] {
  width: 20rem;
  height: 30px;
  font-size: 1.5rem;
}

textarea {
  font-size: 1.5rem;
}

.label-form {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form-div-btn {
  margin-top: 3rem;
  align-self: flex-end;
}

.frog-image {
  align-self: flex-end;
  margin-top: 3rem;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  border-radius: 5px;
  border: none;
  background-color: cadetblue;
  box-shadow: 1px 1px 1px #888;
}

/*** Projects ***/
.projects {
  margin-top: 2rem;
}

.links-portfolio a:link,
.links-portfolio a:visited {
  font-size: 1.8rem;
  color: #222;
}

.links-portfolio a:hover,
.links-portfolio a:active {
  font-size: 1.8rem;
  color: #888;
}

.languages {
  font-size: 1.5rem;
}

.paragraph-project {
  margin-top: 0.7rem;
  font-size: 1.5rem;
  line-height: 1.4;
}
